tgcrypto
requests
youtube_dl
ffmpeg-python
python-dotenv
youtube_search_python
pytgcalls==3.0.0.dev19
git+https://github.com/pyrogram/pyrogram@master
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability
