tgcrypto
requests
youtube_dl
ffmpeg-python
python-dotenv
youtube_search_python
pytgcalls==3.0.0.dev19
git+https://github.com/pyrogram/pyrogram@master
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
opencv-python-headless>=4.8.1.78 # not directly required, pinned by Snyk to avoid a vulnerability
